.loaderCss{
   width: 100vw;
   height: 100vh;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   // background-color: black;
   z-index: 1;
 .fa-spin{
 
    font-size: 150px;
 }
}