@import "../../variable.scss";

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  .section-1 {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/Background1.png");
    background-size: 60% 100%;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    .left-part {
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 60px;
      .top {
        max-width: 85%;
        h1 {
          color: $primary-color;
          font-weight: bold;
          font-size: 60px;
        }
      }
      .middle {
        max-width: 433px;
        h1 {
          color: $primary-color;
          font-weight: bold;
          font-size: 35px;
        }
        #black {
          color: black;
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        position: relative;
        .vertical-line {
          width: 2px;
          height: 112px;
          border-left: 1px solid #e6e6e6;
          position: absolute;
          left: 9px;
          top: 25px;
          z-index: -1;
        }
        .circle1 {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: #e6e6e6;
          margin-bottom: 20px;
        }
        .circle {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $primary-color;
        }
        .list {
          display: flex;
          align-items: center;
          margin-top: 10px;
        }
        h3 {
          color: #808080;
          font-weight: bold;
          margin: 0px;
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
    .right-part {
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .rotate {
        animation: rotation 20s infinite linear;
      }
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
      img {
        width: 260px;
        vertical-align: middle;
      }
    }
  }
  .section-2 {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/TRSAsset 5.png");
    background-size: 49% 100%;
    background-position: left -6px;
    background-repeat: no-repeat;
    display: flex;
    .section-2-left {
      width: 75%;
      display: flex;
      flex-direction: column;
      padding-left: 15%;
      justify-content: center;
      .heading {
        h1 {
          color: $primary-color;
          font-weight: bold;
          font-size: 34px;
          max-width: 550px;
        }
      }
      .lists {
        display: flex;
        margin-top: 25px;
        margin-bottom: 30px;
        .list-left {
          .list {
            display: flex;
            align-items: center;
            margin-top: 10px;
          }
          .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $primary-color;
          }
          h3 {
            color: #808080;
            font-weight: bold;
            margin: 0px;
            font-size: 20px;
            margin-left: 10px;
          }
        }
        .list-right {
          margin-left: 20px;
          .list {
            display: flex;
            align-items: center;
            margin-top: 10px;
          }
          .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $primary-color;
          }
          h3 {
            color: #808080;
            font-weight: bold;
            margin: 0px;
            font-size: 20px;
            margin-left: 10px;
          }
        }
      }
    }
    .section-2-right {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      img {
        width: 350px;
        margin-bottom: 15px;
        position: absolute;
        bottom: 0px;
        left: -125px;
      }
    }
  }
  .section-3 {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/section-3-bg.png");
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    top: -15px;
    .section-3-top {
      width: 93%;
      height: 140px;
      background-image: url("../../images/section-3-top.png");
      background-size: 100% 100%;
      background-position: left 0px;
      background-repeat: no-repeat;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      .list {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
      .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ffff;
      }
      h3 {
        color: #ffff;
        font-weight: bold;
        margin: 0px;
        font-size: 25px;
        margin-left: 25px;
        margin-right: 25px;
      }
    }
    .section-3-middle {
      width: 100%;
      position: relative;
      margin-top: 130px;
      display: flex;
      flex-direction: column;
      padding-left: 10%;
      position: relative;
      .vertical-line {
        width: 2px;
        height: 67%;
        border-left: 1px solid #e6e6e6;
        position: absolute;
        top: 45px;
        margin-left: 9px;
      }
      .circle1 {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        top: 45px;
        background-color: #e6e6e6;
        margin-bottom: 20px;
      }
      .section-3-heading {
        margin-left: 40px;
        h1 {
          color: $primary-color;
          font-weight: bold;
          font-size: 45px;
          margin-bottom: 0px;
        }
        h2 {
          color: $primary-color;
          font-weight: bold;
          font-size: 25px;
          margin-top: 5px;
        }
        #black {
          color: black;
        }
      }
      .section-3-content {
        display: flex;
        .section-3-middle-left {
          width: 50%;
          h3 {
            color: #808080;
            font-weight: bold;
            font-size: 20px;
            margin-left: 18px;
            margin-bottom: 18px;
          }
          img {
            width: 70px;
            position: absolute;
            left: 40px;
            bottom: -7px;
          }
          .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $primary-color;
            margin-right: 90px;
          }
          .list {
            display: flex;
            align-items: center;
            justify-content: stretch;
            margin-top: 10px;
            margin-bottom: 45px;
            position: relative;
          }
        }
        .section-3-middle-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;
          position: relative;
          .vertical-line {
            width: 2px;
            height: 67%;
            border-left: 1px solid #e6e6e6;
            position: absolute;
            top: 45px;
            margin-left: 9px;
          }
          #surprise {
            margin-bottom: 19px;
          }
          img {
            width: 20px;
          }
          .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $primary-color;
            margin-right: 90px;
          }
          .list {
            display: flex;
            align-items: center;
            justify-content: stretch;
            margin-top: 10px;
            margin-bottom: 36px;
            position: relative;
          }
          h3 {
            color: #808080;
            font-weight: bold;
            font-size: 20px;
            margin-left: 18px;
            margin-bottom: 18px;
          }
          img {
            width: 70px;
            position: absolute;
            left: 40px;
            bottom: -7px;
          }
        }
      }
    }
  }
  .section-4 {
    width: 100%;
    height: 110vh;
    background-image: url("../../images/section-4-bg.png");
    background-size: 77% 100%;
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    top: -37px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 10%;
    .section-4-heading {
      max-width: 763px;
      h1 {
        color: $primary-color;
        font-weight: bold;
        font-size: 25px;
        margin: 0px;
      }
      h1::first-letter {
        font-size: 60px;
        color: $primary-color;
      }
      #black {
        color: black;
      }
    }
    .section-4-middle {
      width: 100%;
      display: flex;
      flex-direction: row;
      .section-4-content {
        width: 60%;
        height: 66vh;
        display: flex;
        margin-top: 10px;
        background-image: url("../../images/q-symbol.png");
        background-size: 400px 390px;
        background-position: left;
        background-repeat: no-repeat;
        .users {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .user-content {
            display: flex;
            margin-left: 50px;
            .user-details {
              margin-left: 20px;
              h4 {
                color: $primary-color;
                font-weight: bold;
              }
              h6 {
                color: #4d4d4d;
                font-weight: bold;
                max-width: 80%;
                text-align: justify;
              }
            }
          }
        }
      }
      .section-4-cup {
        width: 40%;
        display: flex;
        align-items: center;
        position: relative;
        img {
          width: 370px;
          height: 320px;
          position: absolute;
          left: -20px;
        }
      }
    }
  }
  .section-5 {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/section-5-bg.png");
    background-size: 48% 100%;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    top: -131px;
    padding: 90px;
    display: flex;
    .section-5-left {
      width: 50%;
      .section-5-heading {
        h1 {
          color: $primary-color;
          font-weight: bold;
          font-size: 25px;
          margin: 0px;
        }
        h1::first-letter {
          font-size: 60px;
          color: $primary-color;
        }
        #black {
          color: black;
        }
      }
      .section-5-content {
        margin-top: 25px;
        p {
          text-align: justify;
          font-weight: bold;
          font-size: 13px;
          margin-bottom: 0px;
        }
      }
    }
    .section-5-right {
      width: 50%;
      height: 59vh;
      background-image: url("../../images/Rectangle 50.png");
      background-size: 300px 200px;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
    }
  }
  .section-6 {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/section-6-bg.png");
    background-size: 55% 100%;
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    top: -147px;
    padding-left: 80px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    .section-6-heading {
      h1 {
        color: $primary-color;
        font-weight: bold;
        font-size: 25px;
        margin: 0px;
        margin-left: 60px;
      }
      h1::first-letter {
        font-size: 60px;
        color: $primary-color;
      }
      #black {
        color: black;
      }
    }
    .section-6-content {
      display: flex;
      .section-6-left {
        height: 59vh;
        background-image: url("../../images/section-6-left.png");
        background-size: 382px 342px;
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        .subscribe-details {
          display: flex;
          flex-direction: column;
          padding: 90px;
          padding-left: 60px;
          text-align: left;
          font-size: 16px;
          position: relative;
          p {
            color: white;
            font-size: 9px;
          }
          h5 {
            color: #ffff;
            font-weight: bold;
            font-size: 16px;
            text-align: left;
          }
          button {
            width: 80px;
            background: white;
            border: none;
            outline: none;
            border-radius: 15px;
            height: 25px;
            font-size: 12px;
            color: $primary-color;
            position: absolute;
            bottom: 40px;
            left: 130px;
          }
          .input-field {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .email {
            margin: 10px;
            display: flex;
            align-items: center;
            label {
              color: #ffff;
              font-weight: bold;
              font-size: 13px;
              text-align: left;
              width: 60px;
            }
            input {
              outline: none;
              border-radius: 15px;
              border: none;
              margin-left: 30px;
              width: 94%;
              height: 30px;
              padding: 10px;
              font-size: 10px;
            }
          }
          .phone {
            margin: 10px;
            display: flex;
            align-items: center;
            label {
              color: #ffff;
              font-weight: bold;
              font-size: 13px;
              text-align: left;
              width: 70px;
            }
            input {
              outline: none;
              border-radius: 15px;
              border: none;
              margin-left: 20px;
              width: 100%;
              height: 30px;
              padding: 10px;
              font-size: 10px;
            }
          }
        }
      }
      .section-6-right {
        width: 56%;
        height: 59vh;
        background-image: url("../../images/section-6-right.png");
        background-size: 600px 300px;
        background-position: left;
        background-repeat: no-repeat;
        .social-media-img {
          position: absolute;
          bottom: 25px;
          left: 60%;
          img {
            width: 30px;
            height: 30px;
            margin-left: 10px;
          }
          a {
            margin-left: 20px;
            color: $primary-color;
          }
        }
      }
    }
  }
}
