@import "../../variables.scss";


.tsg-btn{
    width: auto;
    height: 30px;
    border-radius: 4px;
    color:#fff;
    border:none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    background-color:$tomato;
    opacity: 1;
    transition: opacity 0.2s linear;
    float: left;
    outline: none;
    img{
        width: 11px;
        margin-right: 10px;
    }

    &:hover{
         opacity: 0.8;
    }
}

.tsg-btn.disabled{
    opacity: 0.8;
    pointer-events: none;
}


.tsg-btn.uppercase{
    text-transform: uppercase;
}



@media only screen and (max-width: 640px){
    .tsg-btn{
        width: auto;
        font-size: 12px;
        font-weight: 600;
        padding: 4px 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: unset;
        img{
            width: 10px;
            margin-right: 10px;
        }
    }
   

}

@media only screen and (max-width: 767px){
    .tsg-btn{
        justify-content: center;
    }
}