@import "../../variables.scss";

.profile-section {
  padding: 10px 20px 20px 20px;
  .profile-header {
    .profile-header-txt {
      font-size: 15px;
      font-weight: 600;
      text-align: left;
    }
  }
  .details-section {
    max-width: 300px;
    padding-top: 20px;
    .details-block {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;

      .title {
        width: 50%;
        text-align: left;
        font-size: 12px;
        font-weight: 600;
      }
      .desc {
        width: 50%;
        text-align: left;
        font-size: 11px;
      }
    }

    #btn-section {
      display: flex;
      justify-content: center;
      margin-left: 60px;
      margin-top: 15px;
      .tsg-btn {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
@media only screen and (max-width: 767px){
    .profile-section{
        .details-section{
            max-width:100%;
        }
    }
    #btn-section {
        margin-left: 0px !important;
        margin-top: 0px !important;
        #edit-btn{
            width: 110px;
        }
    }   
}
