.chat {
  .wrapper {
    position: relative;
    &:before {
      position: absolute;
      top: 0px;
      left: -5px;
      right: auto;
      bottom: auto;
      width: 100%;
      height: 100vh;
      background-image: url("../../images/background.png");
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
    }
    background-color: #ae123d;
    width: 100%;

    .chat-header {
      height: 60px;
      position: relative;
      .enterprise {
        max-width: 20%;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        .enterprise-name {
          h5 {
            font-weight: bold;
            margin: 0px;
            color: white;
          }
        }
        .notification-icon {
          img {
            width: 15px;
          }
        }
      }
    }

    .page-content {
      width: 100%;
      height: calc(100vh - 60px);
      position: relative;
      display: flex;
      flex-direction: row;
      .user-details-section {
        width: 20%;
        padding-left: 20px;
        padding-right: 20px;
        .user {
          display: flex;
          .profile-img {
            img {
              border-radius: 0px;
              margin-top: 0px;
            }
          }
          .user-detail {
            margin-left: 20px;
            h5,
            h6 {
              color: white;
              font-weight: bold;
              margin: 0px;
            }
            .user-status {
              display: flex;
              margin-bottom: 10px;
              .square {
                width: 10px;
                height: 10px;
                margin-right: 5px;
                margin-top: 1px;
                background: #06bd12;
              }
            }
          }
        }
        .message-details {
          img {
            width: 15px;
            height: 10px;
            margin-top: 1px;
          }
          h6 {
            margin: 0px;
            margin-left: 10px;
            color: white;
          }
          .count {
            color: white;
          }
          .unreads-main {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 10px;
            .unreads {
              display: flex;
            }
          }
          .threads-main {
            display: flex;
            justify-content: space-between;
            .threads {
              display: flex;
            }
          }
        }
        .channels-main {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          h6 {
            margin: 0px;
            color: white;
          }
          img {
            width: 15px;
            height: 15px;
            margin-bottom: 3px;
            cursor: pointer;
          }
        }
        .channels {
          ul {
            list-style: none;
            color: white;
            padding: 0px;
            font-size: 13px;
          }
        }
        .direct-messages-main {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          h6 {
            margin: 0px;
            color: #ececec;
          }
          img {
            width: 15px;
            height: 15px;
            margin-bottom: 3px;
            cursor: pointer;
          }
        }
        .direct-messages {
          ul {
            list-style: none;
            color: white;
            padding: 0px;
            font-size: 13px;
          }
        }
      }

      .chat-section {
        width: 80%;
        display: flex;
        flex-direction: row;
        z-index: 1;
        .chat-section-left {
          width: 75%;
          background: #ececec;
          padding: 20px;
          .chat-section-top {
            // position: fixed;
            // width: 57%;
            .channel-meta {
              display: flex;
              position: relative;
              margin-top: 10px;
              padding-left: 10px;
              .channel-member {
                position: absolute;
                left: 50px;
              }
              .channel-details {
                position: absolute;
                left: 100px;
              }
              .channel-settings {
                position: absolute;
                right: 8px;
              }
            }
            h1 {
              margin: 0px;
              font-weight: bold;
              font-size: 25px;
            }
            h5 {
              margin: 0px;
              margin-top: 3px;
            }
            img {
              width: 15px;
            }
            .chat-search {
              position: relative;
              img {
                position: absolute;
                width: 15px;
                top: 20px;
                left: 30px;
              }
              input {
                outline: none;
                width: 98%;
                background: #ececec;
                height: 32px;
                margin-top: 10px;
                margin-left: 10px;
                padding-left: 40px;
                border: 1px solid black;
                border-radius: 5px;
              }
            }
          }
          .chat-section-middle {
            height: 72%;
            margin-top: 10px;
            margin-bottom: 10px;
            overflow: auto;
            /* width */
            ::-webkit-scrollbar {
              width: 20px;
            }
            /* Track */
            ::-webkit-scrollbar-track {
              box-shadow: inset 0 0 5px grey;
              border-radius: 10px;
            }
            /* Handle */
            ::-webkit-scrollbar-thumb {
              background: red;
              border-radius: 10px;
            }
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
              background: #b30000;
            }
            .chats {
              position: relative;
              display: flex;
              flex-direction: column;
              .chat-messages-actions {
                display: flex;
                position: relative;
                .triangle-left {
                  width: 0;
                  height: 0;
                  position: absolute;
                  left: 56px;
                  top: 42px;
                  border-top: 10px solid transparent;
                  border-right: 13px solid #e3babf;
                  border-bottom: 10px solid transparent;
                  transform: rotate(-43deg);
                }
                .chat-messages {
                  width: auto;
                  min-width: 100px;
                  max-width: 300px;
                  height: auto;
                  border: solid 0.3px #3a3a3a;
                  border-bottom-left-radius: 0px;
                  background-color: #e3babf;
                  border-radius: 8px;
                  padding: 10px;
                  padding-left: 20px;
                  padding-right: 20px;
                  margin-top: 15px;
                  overflow-wrap: break-word;
                  word-wrap: break-word;
                  margin-left: 60px;
                }
                .chat-actions {
                  display: flex;
                  align-items: center;
                  margin-top: 15px;
                  margin-left: 15px;
                  img {
                    width: 10px;
                    margin-right: 5px;
                    cursor: pointer;
                    position: relative;
                  }
                }
              }
              .user-profile {
                display: flex;
                align-items: center;
                margin-top: -15px;
                margin-bottom: -15px;
                .user-name {
                  h5 {
                    font-weight: bold;
                  }
                }
              }
            }
          }
          .chat-section-bottom {
            .chat-type-message {
              position: relative;
              img {
                position: absolute;
                width: 15px;
                cursor: pointer;
              }
              #smile-face {
                left: 20px;
                top: 14px;
              }
              #attach-pin {
                right: 35px;
                top: 14px;
              }
              #image-upload {
                right: 15px;
                top: 14px;
              }
              input {
                outline: none;
                width: 98%;
                height: 40px !important;
                height: 32px;
                margin-top: 1px;
                margin-left: 10px;
                padding-left: 40px;
                border: 1px solid #707070;
                border-radius: 5px;
              }
            }
          }
        }
        .chat-section-right {
          width: 25%;
          border-left: 1px solid #707070;
          background: #ffffff;
        }
      }
    }
  }
}
