

.profile-img{
   border-radius: 50%;
   position: relative;
   img{
      border-radius: 50%;
      object-fit: cover;
      width: 40px;
      height: 40px;
      margin: 10px;
   }
   .status-indicator{
      width: 12px;
      height: 12px;
      border:2px solid #fff;
      border-radius: 100%;
      display: none;
      position: absolute;
      bottom:10px;
      right:10px; 
   }

   .red{
      background: #f42122;
      display:block;
   }

   .green{
      background: #36c823;
      display:block;
   }

   .amber{
      background: rgba(253,170,42,1);
      display:block;
   }

}