.logo img{
  width: 180px;
}
.form-inline {
  display: inline-block;
}
label{
  text-align: left;
}
.navbar-header.col {
padding: 0 !important;
}	
.navbar {		
background: #fff;
padding:16px;
border-bottom: 1px solid #d6d6d6;
box-shadow: 0 0 4px rgba(0,0,0,.1);
margin-bottom: 0px !important;
}
.nav-link img {
border-radius: 50%;
width: 36px;
height: 36px;
margin: -8px 0;
float: left;
margin-right: 10px;
}
.navbar .navbar-brand {
color: #555;
padding-left: 0;
padding-right: 50px;
font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
font-size: 20px;
margin-right: 5px;
}
.search-box {
  position: relative;
}	
.search-box input {
box-shadow: none;
  padding-right: 35px;
  border-radius: 3px !important;
}
.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px;
height: 100%;
}
.search-box i {
  color: #a0a5b1;
font-size: 19px;
}
.navbar .nav-item i {
font-size: 18px;
}
.navbar .dropdown-item i {
font-size: 16px;
min-width: 22px;
}
.navbar .nav-item.open > a {
background: none !important;
}
.navbar .dropdown-menu {
border-radius: 1px;
border-color: #e5e5e5;
box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
color: #777;
padding: 8px 20px;
line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
color: #333;
}	
.navbar .dropdown-item .material-icons {
font-size: 21px;
line-height: 16px;
vertical-align: middle;
margin-top: -2px;
}
.navbar .badge {
background: #f44336;
font-size: 11px;
border-radius: 20px;
position: absolute;
min-width: 10px;
padding: 4px 6px 0;
min-height: 18px;
top: 5px;
}
.navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
position: relative;
margin-right: 10px;
}
.navbar ul.nav li a.messages {
margin-right: 20px;
}
.navbar a.notifications .badge {
margin-left: -8px;
}
.navbar a.messages .badge {
margin-left: -4px;
}	
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
background: transparent !important;
}
@media (min-width: 1200px){
.form-inline .input-group {
width: 300px;
margin-left: 30px;
}
}
@media (max-width: 1199px){
.form-inline {
display: block;
margin-bottom: 10px;
}
.input-group {
width: 100%;
}
}
@media (min-width: 768px){
.navbar-nav {
    display: block !important;
}
}